# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.env
src/assets/images/empty-cart.svg:Zone.Identifier
src/assets/images/empty-data.svg:Zone.Identifier
src/assets/images/loading-data.svg:Zone.Identifier
src/assets/images/not-found.svg:Zone.Identifier
*.Identifier
