.tabela-tela {
  max-height: 80vh;
}

.tabela-modal {
  max-height: 40vh;
}

@media screen and (min-height: 768px) {
  .tabela-tela {
    max-height: 71vh;
  }
  .tabela-modal {
    max-height: 60vh;
  }
}
