:root {
  --cor-barra-rolagem: linear-gradient(#8080804f, #595959a0);
  --borda-barra-rolagem: 5px;
  --cor-fundo-barra-rolagem: #ffffff00;
  --largura-total-barra: 0.3rem;
}

.table-responsive::-webkit-scrollbar {
  width: var(--largura-total-barra);
  height: 0.2em;
}

.table-responsive::-webkit-scrollbar-track {
  background-color: var(--cor-fundo-barra-rolagem);
}

.table-responsive::-webkit-scrollbar-thumb {
  background: var(--cor-barra-rolagem);
  border-radius: var(--borda-barra-rolagem);
}

.overflow-auto::-webkit-scrollbar {
  width: var(--largura-total-barra);
  height: 0.2em;
}

.overflow-auto::-webkit-scrollbar-track {
  background-color: var(--cor-fundo-barra-rolagem);
}

.overflow-auto::-webkit-scrollbar-thumb {
  background: var(--cor-barra-rolagem);
  border-radius: var(--borda-barra-rolagem);
}

.lista-pordutos-estoque {
  max-height: 50vh;
}

.lista-produtos {
  max-height: 50vh;
}

.sacola-venda {
  max-height: 30vh;
}

.sacola-venda ul {
  max-height: 22vh;
}
.tabela-tela {
  max-height: 80vh;
}

.tabela-modal {
  max-height: 40vh;
}

.imagem-vazio {
  width: 15rem;
  height: auto;
}

.imagem-carrinho-vazio {
  width: 12rem;
  height: auto;
}

@media screen and (min-height: 768px) {
  .lista-pordutos-estoque {
    max-height: 75vh;
  }
  .lista-produtos {
    max-height: 80.5vh;
    padding-bottom: 1.5em;
  }

  .sacola-venda {
    max-height: 80vh;
  }

  .sacola-venda ul {
    max-height: 65vh;
  }
  .tabela-tela {
    max-height: 71vh;
  }
  .tabela-modal {
    max-height: 60vh;
  }
}

@media screen and (min-width: 1000px) {
  .imagem-vazio {
    width: 25em;
    height: auto;
  }
  .imagem-carrinho-vazio {
    width: 18rem;
    height: auto;
    margin: 1%;
  }
}
